@model MvcOnlineTicariOtomasyon.Models.Siniflar.Cariler


@{
    ViewBag.Title = "YeniCari";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Yeni Cari Ekle</h2>

<br />
<form class="form-group " method="post">
    @Html.LabelFor(x => x.CariAd)

   
    @Html.TextBoxFor(x => x.CariAd, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CariAd, "", new { @style = "color:forestgreen" })

    @Html.LabelFor(x => x.CariSoyad)

    @Html.TextBoxFor(x => x.CariSoyad, new { @class = "form-control" })

    @Html.LabelFor(x => x.CariSehir)
    @Html.DropDownListFor(x => x.CariSehir, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })

    @Html.LabelFor(x => x.CariMail)

    @Html.TextBoxFor(x => x.CariMail, new { @class = "form-control" })


    <br />
    <button class="btn btn-info">Kaydet</button>
</form>
